@model BurgerTown.Models.BaseModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="block">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-8 col-sm-12">
                <div class="feature">
                    <div class="shack_burger">
                        <div class="chicken">
                            <img src="~/burgertown/images/chicken.png" alt="Chicken" />
                        </div>

                        <h2>Shack Burger </h2>
                        <p>Black Angus beef patty topped with American cheese, tomato, lettuce, and “Shack Sauce,” served in a grilled potato bun</p>
                    </div>
                    <p class="caption">*Limited Time Only</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="signature">
                    <div class="shape">
                        <span class="flaticon flaticon-burger"></span>
                        <p>signature</p>
                    </div>
                    <div class="signature_content">
                        <p>It used to be a Secret but not any more! Our tribute to the King is a Cheddar Beef Patty,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6 col-sm-12 h-100 hellus">
                <div class="classic">
                    <a href="" class="classic_btn">classic</a>

                    <div class="overlay">
                        <h3>House-ground hamburger</h3>
                        <p>(served in a grilled rosemary focaccia).</p>

                        <p class="overlay_content">Instead of traditional cucumber pickles, legendary chef-owner Judy Rodgers accents her burgers with thin-cut zucchini strips pickled in apple cider vinegar, mustard seeds and turmeric.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="owl-carousel owl-theme" id="small_carousel">
                    <div class="item">
                        <img src="~/burgertown/images/small_slider_bg.jpg" alt="The Original Burger">
                        <div class="carousel-caption">
                            <h3>The Original Burger</h3>
                            <hr />
                            <ul class="list-unstyled nutrition">
                                <li><a href="#"><span class="flaticon flaticon-protein"></span><p>Protein - 33g</p></a></li>
                                <li><a href="#"><span class="flaticon flaticon-carbohydrate"></span><p>Carbohydrates - 46gm</p></a></li>
                                <li><a href="#"><span class="flaticon flaticon-calories"></span><p>Calories - 750 kcal</p></a></li>
                            </ul>
                            <div class="info_btn_shadow">
                                <a href="#" class="info_btn">info & nutrition</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/burgertown/images/small_slider_bg.jpg" alt="Second Slide">
                        <div class="carousel-caption">
                            <h3>The Original Burger</h3>
                            <hr />
                            <ul class="list-unstyled nutrition">
                                <li><a href="#"><span class="flaticon flaticon-protein"></span><p>Protein - 33g</p></a></li>
                                <li><a href="#"><span class="flaticon flaticon-carbohydrate"></span><p>Carbohydrates - 46gm</p></a></li>
                                <li><a href="#"><span class="flaticon flaticon-calories"></span><p>Calories - 750 kcal</p></a></li>
                            </ul>
                            <div class="info_btn_shadow">
                                <a href="#" class="info_btn">info & nutrition</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/burgertown/images/small_slider_bg.jpg" alt="Third Slide">
                        <div class="carousel-caption">
                            <h3>The Original Burger</h3>
                            <hr />
                            <ul class="list-unstyled nutrition">
                                <li><a href="#"><span class="flaticon flaticon-protein"></span><p>Protein - 33g</p></a></li>
                                <li><a href="#"><span class="flaticon flaticon-carbohydrate"></span><p>Carbohydrates - 46gm</p></a></li>
                                <li><a href="#"><span class="flaticon flaticon-calories"></span><p>Calories - 750 kcal</p></a></li>
                            </ul>
                            <div class="info_btn_shadow">
                                <a href="#" class="info_btn">info & nutrition</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="owl-carousel col-12" id="carouselF">
                <div class="item">
                    <img src="~/burgertown/images/large_slider_img.jpg" alt="Burger">
                    <div class="carousel-caption">
                        <h2>Cheddar Junky</h2>
                        <h3>Stuffed Burgers</h3>
                        <p>Chef Wesley Genovart makes this over-the-top, Shake Shack–inspired burger with two thin stacked patties, thick-cut bacon, kimchi and a spicy homemade sauce.</p>
                        <div class="info_btn_shadow">
                            <a href="" class="info_btn">info & nutrition</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/burgertown/images/large_slider_img.jpg" alt="Burger">
                    <div class="carousel-caption">
                        <h2>Cheddar Junky</h2>
                        <h3>Stuffed Burgers</h3>
                        <p>Chef Wesley Genovart makes this over-the-top, Shake Shack–inspired burger with two thin stacked patties, thick-cut bacon, kimchi and a spicy homemade sauce.</p>
                        <div class="info_btn_shadow">
                            <a href="" class="info_btn">info & nutrition</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/burgertown/images/large_slider_img.jpg" alt="Burger">
                    <div class="carousel-caption">
                        <h2>Cheddar Junky</h2>
                        <h3>Stuffed Burgers</h3>
                        <p>Chef Wesley Genovart makes this over-the-top, Shake Shack–inspired burger with two thin stacked patties, thick-cut bacon, kimchi and a spicy homemade sauce.</p>
                        <div class="info_btn_shadow">
                            <a href="" class="info_btn">info & nutrition</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row forth_sec container mx-auto mb-5 p-0 mt-2">
    <div class="col-md-4 col-sm-12">
        <div class="menu">
            <div class="inner_content">
                <span class="flaticon flaticon-burger"></span>
                <h2>menu</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="drinks">
            <div class="inner_content">
                <span class="flaticon flaticon-drink"></span>
                <h2>drinks</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="sides">
            <div class="inner_content">
                <span class="flaticon flaticon-food"></span>
                <h2>sides</h2>
            </div>
        </div>
    </div>
</div>

<section id="lock">
    <h2>SERVING MORE THAN JUST BURGERS SINCE 1998</h2>
    <p>Check out our opening hours and location address below.</p>
</section>

<section class="row container">
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d796.4221243103868!2d35.24485500926101!3d37.017227109209344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152888799c92bad3%3A0xa1f497c877d4f679!2zTTEgQWRhbmEgQWzEscWfdmVyacWfIE1lcmtlemk!5e0!3m2!1str!2str!4v1706567803888!5m2!1str!2str" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

