@model BurgerTown.Models.BaseModel
@{
    ViewBag.Title = "ListTables";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:10px;">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Yeni Masa</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" action="/Admin/AddTable/">
            <div class="card-body">
                <div class="form-group">
                    <label>Masa Adı</label>
                    <input name="Name" type="text" class="form-control" id="exampleInputEmail1" required>
                </div>
                <div class="form-check">
                    @Html.CheckBox("isActive", true)
                    <label class="form-check-label" for="exampleCheck1">Aktif mi?</label>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Masalar</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Masa Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var masa in Model.masalar)
                    {
                        <tr>
                            <td>@masa.Name</td>
                            <td>
                                <a href="/Admin/UpdateTable/@masa.ID"><img src="~/AdminLTE-3.2.0/dist/img/pencil.png" style="width:32px; height:32px;" alt="Güncelle" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>